<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://tgdolalsmimxcxkuiehl.supabase.co/storage/v1/object/sign/IMG_BIOKUAM/LOGO-BIOKUAM.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV81YTA5NWYzYy1hZDYxLTRkN2MtOTlkZC1kYjVkZDAxNTNjYWQiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJJTUdfQklPS1VBTS9MT0dPLUJJT0tVQU0ucG5nIiwiaWF0IjoxNzY4NDQ4ODc5LCJleHAiOjE3NzEwNDA4Nzl9._9t8xngolAI-Tqc0x3qw1eb6lmGXOaMFGIf0ynR-wu8" type="image/x-icon">
    <title>PERFIL DE USUARIO | BIOKUAM</title>
    
</head>
<header>
    {% include "header.html" %}
</header>
<body>
   <br>
   <br>
</body>
<footer>
    {% include "footer.html" %}
</footer>
</html>


